<div class="container">
  <div class="control-menu">
    <div class="form-menu">
      <h3>Bus station</h3>
      <hr style="background-color: dimgray; height: 1px;" />

      <div class="form-group row">
        <label class="col-sm-5 col-form-label" style="font-weight: bold">Search:</label>
        <div class="col-sm-7">
          <input class="form-control" style="border-radius: 0px;" type="search" id="search" (input)="search()" />
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />

      <div class="form-group row">
        <label class="col-sm-5 col-form-label" style="font-weight: bold">Route:</label>
        <div class="col-sm-7">
          <select class="form-control" style="border-radius: 0px;" id="currency" (change)="routeTypeChange()">
            <option value="">All</option>
            <option value="USD">Urban</option>
            <option value="RUB">Suburban</option>
            <option value="RUB">Intercity</option>
          </select>
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />

      <div class="form-group row">
        <label class="col-sm-5 col-form-label" style="font-weight: bold">Schedule:</label>
        <div class="col-sm-7">
          <select class="form-control" style="border-radius: 0px;" id="currency" (change)="scheduleChange()">
            <option value="">All</option>
            <option value="USD">Even days</option>
            <option value="RUB">Odd Days</option>
            <option value="RUB">Everyday</option>
            <option value="RUB">Weekend</option>
            <option value="RUB">Weekdays</option>
          </select>
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />

      <div class="form-group row">
        <label class="col-sm-5 col-form-label" style="font-weight: bold">Date:</label>
        <div class="col-sm-7">
          <input class="form-control" style="border-radius: 0px;" type="date" id="search" (input)="search()" />
        </div>
      </div>
      <hr style="background-color: dimgray; height: 1px;" />
  </div>

  <div style="margin-left: 320px; margin-bottom: 60px;" *ngIf="isLoading">
    <span>Loading...</span>
  </div>

</div>

<ng-template #loading>
  <span>Loading...</span>
</ng-template>
