.pagination {
    bottom: 10px;
    flex-direction: column;
    margin-left: -20px;
    width: 300px;
}

.pagination-control{
    display: flex;
    justify-content: space-evenly;
}
  
.pagination a {
    background-color: white;
    padding: 6px 12px;
    border: black 1px solid;
}
  
.pagination a.active {
    background-color: var(--gray-block-color);
    color: white;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
      cursor: pointer;
}

.pagination input{
    background-color: var(--gray-block-color);
    border: none;
    color: white;
    width: 35px;
    font-size: 16px;
    text-align: center;
    transition: background-color 1s, color .1s;
}

.pagination input:hover,
.pagination input:focus{
    background-color: white;
    color:var(--gray-block-color);
    border: black 1px solid;
}