:host ::ng-deep  table{
    height: 50px;
    margin-left: 20px;
    text-align: left;
}

:host::ng-deep  table td {
    padding: 0px 15px;
}

:host::ng-deep  table td:empty {
    display: none;
}

:host::ng-deep  tr{
    height: 43px;
    background-color: var(--gray-block-color);
    color: white;
}

:host::ng-deep  .list-img{
    margin-left: 9px;
    width: 35px;
}
:host::ng-deep  .list-img:hover{
    margin-top: 3px;
    cursor: pointer;
}

:host::ng-deep .td-name{
    align-content: "center";
    width: 50vw;
}

:host::ng-deep .add-cell{
    font-size: 30px;
}

:host::ng-deep .add-cell:hover{
    cursor: pointer;
}

:host::ng-deep .td-header:hover{
    cursor: pointer;
}

:host::ng-deep .edit-input{
    height: 25px;
    margin: 10px 0;
}

:host::ng-deep .edit-img{
    width: 25px;
}